{% extends "layout.html.twig" %}

{% set pageName = 'profile' %}

{% block content %}
{% spaceless %}

  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">My profile</li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">#{{ user._id }}</div>
    <div class="panel-body">
      <p>
        <b>id:</b> {{ user._id }}
      </p>

      <p>
        <b>username:</b> {{ user.username }}
      </p>

      <p>
        <b>phone:</b> {{ user.phone }}
      </p>

      <p>
        <b>first name:</b> {{ user.firstname }}
      </p>

      <p>
        <b>last name:</b> {{ user.lastname }}
      </p>

      <p>
        <b>registered date:</b> {{ user.signup_date|default('unknown') }}
      </p>

      <p>
        <b>last signup date:</b> {{ user.signup_last_date|default('unknown') }}
      </p>
    </div>
  </div>

{% endspaceless %}
{% endblock %}